@font-face {
  font-family: 'Kingthings Petrock';
    src: url('https://tigerstyping.com/resources/oblivion_generator/oblivion_font.woff') format("woff");
    src: url('https://tigerstyping.com/resources/oblivion_generator/oblivion_font.ttf') format("truetype");
}
:root {
    box-sizing: border-box;
    font-family: 'Kingthings Petrock', sans-serif;
    --oblivion-ui-fg-color: #6A3F29;
    --oblivion-ui-fg-color-transparent: #6A3F2955;
    --oblivion-ui-bg-color: #EBDBBF;
}

@keyframes map_scroll {
   from {
       background-position: {{pan_position[0]}} {{y_position}}% ;
   }
    to {
        background-position: {{pan_position[1]}} {{y_position}}% ;
    }
}

body {
    margin: 0;
    background-image: url("https://tigerstyping.com/resources/oblivion_generator/map.jpg");
    background-size: 200% auto;
    animation: map_scroll 100s alternate infinite;
    min-height: 100%;
    line-height: 1.5em;
}

#container {
    background-color: #FFFFFF77;
    height: 100%;
}

select {
    border-style: none;
    background-image: url("https://tigerstyping.com/resources/oblivion_generator/oblivion_arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 95%;
    padding: 0.2em;
    -webkit-appearance: none;
    font-family: "Kingthings Petrock", sans-serif;
    color: var(--oblivion-ui-fg-color);
    border-radius: 0;
    background-color: transparent;
    max-width: 95%;
    font-size: 15pt;
}


.window-header {
    font-weight: normal;
    margin: 0 0 1rem 0;
    font-size: 17pt;
}

.window {
    text-align: center;
    background-image: url("https://tigerstyping.com/resources/oblivion_generator/paper_texture.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    font-size: 15pt;
    border-style: solid;
    border-width: 23px 25px 23px 25px;
    border-image-slice: 34 36 34 36;
    border-image-width: 23px 25px 23px 25px;
    border-image-outset: 23px 25px 23px 25px;
    border-image-repeat: repeat repeat;
    border-image-source: url("https://tigerstyping.com/resources/oblivion_generator/oblivion_ui_frame.png");
    /*border-width: 23px 25px 23px 25px;*/
    color: var(--oblivion-ui-fg-color);
    margin: 2rem auto 5rem auto;
    padding: 0.1rem;
    max-width: min(675px, 70%);
}

textarea {
    font-size: 15pt;
    width: 90%;
    color: var(--oblivion-ui-fg-color);
    border: 1px solid var(--oblivion-ui-fg-color);
    background-color: #00000000;
    height: 4em;
    display: block;
    margin: 0.5em auto 0.5em auto;
    resize: none;
    font-family: "Kingthings Petrock", sans-serif;
}

textarea::placeholder {
    color: var(--oblivion-ui-fg-color-transparent);
}

.dropdown-container {
    filter: brightness(130%) drop-shadow(0px 2px 2px #00000055);
    background-image: url("https://tigerstyping.com/resources/oblivion_generator/ob_button.png");
    background-size: 100% 100%;
    width: fit-content;
    max-width: 95%;
    margin: auto;
    padding: 0.2em;

}

.dropdown-container:hover {
    filter: brightness(110%) drop-shadow(0px 2px 2px #00000055);
}


input[type=submit] {
    background-image: url("https://tigerstyping.com/resources/oblivion_generator/ob_button.png");
    background-color: #00000000;
    color: var(--oblivion-ui-fg-color);
    font-size: 15pt;
    font-family: "Kingthings Petrock", sans-serif;
    filter: brightness(130%) drop-shadow(0px 2px 2px #00000055);
    width: 145px;
    height: 35px;
    border: none;
    margin: auto;
    background-size: 100% 100%;
    display: block;
}

input[type=submit]:hover {
    filter: brightness(110%) drop-shadow(0px 2px 2px #00000055);
}

input[type=submit]:active {
    filter: brightness(110%);
}

hr {
    border-color: var(--oblivion-ui-fg-color);
}

img {
	width: 100%;
	margin: 0;
}


#contact {
    background-size: 100% 100%;
    max-width: min(320px, 70%);
}

#contact>p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
